body {
  background: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#photo-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 30px;
  color: white;
  display: none;
}

#photo-frame {
  width: 100%;
  height: 100%;

  .loader {
    position: absolute;
    width: 100%;
    top: 45%;
    color: #00cc00;
    opacity: 0.5;
    text-align: center;
    display: none;
  }

  .image-container{
    display: none;
    // &.current{
    //   display: block;
    // }
    .photo-name {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
    }
  }
}

